//= require_tree .
@import "bootstrap";

body {
    background-color: #f6d1a5;
    color: #333;
    margin: 33px;
    /* font-family: verdana, arial, helvetica, sans-serif; */
    /*font-family: "ヒラギノ丸ゴ ProN W4", sans-serif;*/
    /*font-family: 'Wawati SC',sans-serif;*/
    /*font-family: 'Wawati SC','Osaka',sans-serif;*/
    font-family: 'ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;
    /* font-family: "筑紫B丸ゴシック", sans-serif; */
    font-size: 13px;
    line-height: 18px;
    min-height: 100%
  }

